/*.boozeTypes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
}
*/
/*.boozeTypes-wrapper {
    border-color: #887CAF;
    border-width: 2px;
    margin: 0 10px;
    padding: 8px;
    min-width: 200px;
    border-radius: 4px;
}*/

/*.boozeTypes-wrapper:first-child {
    margin-left: 0;
}*/

/*.boozeTypes-wrapper:last-child {
    margin-right: 0;
}*/